@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.container {
    margin-right: 15px;
    margin-left: 15px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fixed-top {
    position: fixed;
    width: 100%;
}

.page-header {
    background: #563ee2;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
}

.page-header .page-title {
    color: white;
    font-weight: 400;
}

.datasheet-toolbar {
    position: relative;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    align-items: center;
    border-bottom: solid 1px #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.datasheet-toolbar .toolbar-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.datasheet-toolbar .toolbar-list .toolbar-item {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s ease;
    margin: 0;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.datasheet-toolbar .toolbar-list .toolbar-item svg {
    margin-right: 4px;
}

.datasheet-toolbar .toolbar-list .toolbar-item:hover {
    color: black;
    background-color: #e1e1e1;
}

.datasheet-base {
    display: table;
    width: 100%;
    /* padding-top: calc(60px + 38px); */
}

.datasheet-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-row:hover .table-data {
    background: #f2f2f2;
}

.table-header {
    background: #f2f2f2;
    color: black;
}

.table-data {
    background: white;
}

.table-cell {
    border: solid 1px #e1e1e1;
    min-width: 180px;
    display: table-cell;
    padding: 6px;
    border-left: none;
    border-top: none;
    font-size: 13px;
}

.selected-table-cell {
    outline: solid 1px black;
}